    <footer class="site-footer">
      <img
              src="/assets/mtmanadvlogo.png"
              class="mtmanlogo"
              alt="mt man logo"
            />
      <p>© 2022 MT Man Adventures. All rights reserved.</p>
    </footer>