 <header class="page-header">
      <div class="container">
        <div class="page-header__content">
          <div>
            <img
              src="/assets/mtmanadvlogo.png"
              class="mtmanlogo"
              alt="mt man logo"
            />
          </div>
          <nav>
            <ul role="list" class="nav-list flex-group">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/blog/">Blog</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
   