---
title: MT Man Adventures
layout: 'base.njk'
---
    
    

      <section class="hero">
        <div class="container flow">
          <div class="hero__content flow">
            <h1 class="section-title">
              Mountain Man Adventures - Experience the Spirit of the West
            </h1>
            <h3 class="section-subtitle">Welcome to the Wild Wild West!</h3>
            <p>
              Mountain Man Adventures is a blog that brings to you the glory of
              the always Wild American West with stories, in-depth articles,
              gear and much more. We are always looking for story submissions
              and interviews - contact us at mtmanadventuresblog@gmail.com to
              share your Wild West Story!
            </p>
            </p>
            <p>
              Check out our latest articles while we continue to grow our business.
              We are working on listing products and merchandise that you can buy 
              and show off your Wild West Spirit with MT Man Adventure Gear = it 
              doesn't get any more wild than that!
            </p>
            <div class="flex-group">
              <a href="#featured-articles" class="btn btn--primary"
                >Featured articles</a
              >
              <a href="./blog" class="btn btn--neutral"
                >Most recent articles</a
              >
            </div>
          </div>
          <div>
            <img src="https://i.picsum.photos/id/1006/3000/2000.jpg?hmac=x83pQQ7LW1UTo8HxBcIWuRIVeN_uCg0cG6keXvNvM8g" alt="" class="hero__image" />
          </div>
        </div>
      </section>

      <section id="featured-articles" class="featured-articles">
        <div class="container flow">
          <h2 class="section-title text-center">Giddy Up</h2>
          <p class="text-center">
            Check out our featured adventures and send us your own!
          </p>
          <ul role="list" class="articles_list flow">

        {%- for post in collections.featured | reverse -%} 
          {% include 'article-snippet.njk' %} 
        {%- endfor %}

  </ul>
        </div>
      </section>


